@use 'variables';

.button {
    margin-top: 5px;
    font-size: 18px;
    text-decoration: none;
    white-space: nowrap;
    height: 80%;

    &--primary {
        background-color: variables.$buttonColor;
        color: variables.$textColor2;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        padding: 12px;
        vertical-align: middle;

        @media (max-width: 640px) {
            display: block;
            width: 100%;
            text-align: center;
        }
                @media (max-width: 960px) {
            display: block;
            width: 100%;
            text-align: center;
        }

        &:hover {
            background-color: #2e3b3e;
        }
    }
}